@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans+JP&family=Imperial+Script&family=Italiana&family=Lavishly+Yours&family=Montserrat:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sevillana&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

@theme{
    --color-custom-green: #2E9A70 ;
    --color-custom-gray: #1e1e1e ;
    --font-Titillium-Web:"Titillium Web", sans-serif;
    /* "Rubik", sans-serif */
    /* "IBM Plex Mono", monospace */
    /* "Titillium Web", sans-serif*/
    /* "IBM Plex Sans JP", sans-serif */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and old Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Edge */
}

.nav-link{
  @apply font-semibold
}

.nav-link:hover{
  @apply text-custom-green transition-all duration-500;
}

.outline-btn{
  @apply text-custom-green border-2 border-custom-green px-5 py-2 font-bold rounded-2xl mx-auto 
  hover:bg-custom-green hover:text-white transform transition-all duration-500 
  /* sm */
  max-sm:text-sm max-sm:py-1 max-sm:px-3 max-sm:rounded-xl max-sm:border;
}

/* auto scroll */
.scroll-anim {
  animation: scroll 90s linear infinite;
}

.scroll-anim:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-400%);
  }
}